#imageCSS{
	padding-left: 0px;
	padding-right: 0px;
}
#imageHolder img{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    transition: all .3s;
    opacity: 0.6;
}
#imageHolder img:hover{
	-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    opacity: 1;
}
#sponsors img{
	cursor: default;
	border-radius: 2pt;
	box-shadow: 0 2px 10px -5px #000;
	transition: all .2s;
}
#sponsors img:hover{
	box-shadow: 0 8px 10px -8px #000;
	transform: scale(1.03,1.03);
}
#sponsors h2 {
	margin-top: 10px;
	margin-bottom: 48px;
    font: 18px/1em Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media only screen and (max-width:768px) {
    #sponsors {
        /*width: 100%;*/
    }

    #sponsors h2 {
    	margin-top: 10px;
    	margin-bottom: 20px;
        font: 14px/1em Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }

}

@keyframes slidy {
0% { left: 0%; }
4% { left: 0%; }
8.5% { left: -100%; }
16.5% { left: -100%; }
21% { left: -200%; }
29% { left: -200%; }
33.5% { left: -300%; }
41.5% { left: -300%; }
46% { left: -400%; }
54% { left: -400%; }
58.5% { left: -500%; }
66.5% { left: -500%; }
71% { left: -600%; }
78% { left: -600%; }
81.5% { left: -700%; }
89.5% { left: -700%; }
93% { left: -800%; }
95% { left: -800%; }
99% { left: -900%; }
100% { left: -900%; }
}


div#slider { 
    overflow: hidden; 
    max-width: 1000px;
    max-height: 430px;
    margin: 0 auto;
}

div#slider figure img { width: 10%; float: left; }

div#slider figure { 
  position: relative;
  width: 1000%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 40s slidy infinite; 
}