#demo-canvas {
	height: 722px;
    max-width: 100%;
    /*height: auto;*/
    vertical-align: middle;
    border-style: none;
    background-image: url(../img/landing-bg.svg);
    background-position: center bottom;
    position: relative;
    width: 100%;
    /*background: #333;*/
    overflow: hidden;
    background-size: cover;
    /*background-position: center center;*/
    z-index: 1;
}

.aos-section {
  overflow: hidden;
}

.timeline-wrapper {
    position: relative;
    padding: 22px 0;
  }
  .timeline-wrapper:last-child:before {
    height: 0;
  }
  .timeline-wrapper:before {
    content: "";
    background: #474559;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 38px;
  }
  
  .timeline-yr {
    background: #474559;
    border-radius: 100%;
    position: absolute;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
  }
  .timeline-yr span {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    display: block;
    line-height: 75px;
  }
  
  .timeline-info {
    display: flex;
    vertical-align:middle;
    height: 70px;
    max-width: 432px;
    margin-left: 6em;
  }

  .timeline-info h3 {
    margin-bottom: auto;
    margin-top: auto;
  }

  .timeline-info small {
    color: #474559;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
  }

  /* Color schemes */
.demo-1 {
	--color-text: #fff;
	--color-bg: #fff;
	--color-link: #236554;
	--color-link-hover: #fff;
	--color-top-right: limegreen;
	--color-bottom-left: cyan;
}

.completed .demo-1 {
	--color-text: #222;
	--color-link: #222;
	--color-link-hover: #aaa;
}


/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.3s;
}

.js body.render {
	opacity: 1;
}


.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.loader {
	background: linear-gradient(-135deg, var(--color-top-right), var(--color-bottom-left));
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
  transition: opacity 600ms;
  z-index: 999999;
}

.loading .loader {
	opacity: 1;
}

.completed .loader {
	opacity: 0;
	pointer-events: none;
}
@media screen and (max-width: 55em) {	
	.loader {
		z-index: 999999;
	}	
}

  