#imageCSS{
	padding-left: 0px;
	padding-right: 0px;
}
#imageHolder img{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    transition: all .3s;
    opacity: 0.6;
}
#imageHolder img:hover{
	-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    opacity: 1;
}
#sponsors img{
	cursor: default;
	border-radius: 2pt;
	box-shadow: 0 2px 10px -5px #000;
	transition: all .2s;
}
#sponsors img:hover{
	box-shadow: 0 8px 10px -8px #000;
	transform: scale(1.03,1.03);
}
#sponsors h2 {
	margin-top: 10px;
	margin-bottom: 48px;
    font: 18px/1em Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media only screen and (max-width:768px) {
    #sponsors {
        /*width: 100%;*/
    }

    #sponsors h2 {
    	margin-top: 10px;
    	margin-bottom: 20px;
        font: 14px/1em Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }

}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider { 
    overflow: hidden; 
    max-width: 600px;
    max-height: 360px;
    margin: 0 auto;
}

div#slider figure img { width: 20%; float: left; }

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}