html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

video{
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  
}

.main-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  object-fit: contain;
  background-color: rgba(44, 25, 25, 0.5);
  top: 50%;
  margin-top: 70px;

 
}


.main-heading{
  margin-top: 20vh;
  text-align: center;
  align-items: center;
  font-size: 5vw;
  color: rgb(52, 60, 68);
  color: aliceblue;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Krona One', sans-serif;
  
}

.main-subheading{
  text-align: center;
  align-content: center;
  font-size: 2vw;
  color: aliceblue;
  font-family: 'Krona One', sans-serif;
}




#preloader{
  background: #fff url(../public/img/preloader.png) center center no-repeat;
  background-size: 7%;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10000;
}
#preloader>p{
  
  position: absolute;
  left: 48%;
  top:65%;
}
/* #preloader>img{
  left: 45%;
  position: absolute;
  top:45%;
} */

@media screen and (min-width:950px){

  .main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    object-fit: contain;
    background-color: rgba(0,0,0,0.5);
   /* box-shadow: inset 0 0 0 1000px rgba(0, 00, 0.2); */
    top: 50%;
    margin-top: 80px;
  }
  
  
  .main-heading{
      font-size: 5rem;
      padding-top: 60px;
  }
  .main-subheading{
      font-size: 2.8rem;
  }

}
@media screen and (max-width:950px){
	#preloader{
  background: #fff url(../public/img/preloader.png) center center no-repeat;
  background-size: 30%;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10000;
}
}